/* CLASSIC NAVBAR */


.navbar{

box-shadow:0 4px 15px rgba(0,0,0,.15);

}



.school-logo{

width:70px;

height:70px;

object-fit:contain;

background:white;

padding:6px;

border-radius:50%;

}



.school-title{

font-size:20px;

}



.nav-link{

font-weight:500;

margin-left:12px;

transition:.3s;

}



.nav-link:hover{

color:var(--secondary-color)!important;

}





.classic-portal{

background:var(--secondary-color);

color:white;

padding:10px 20px;

border-radius:5px;

text-decoration:none;

font-weight:bold;

border:2px solid transparent;

transition:.3s;

}



.classic-portal:hover{

background:white;

color:var(--primary-color);

border-color:var(--secondary-color);

}

.school-logo {
    width: clamp(50px, 8vw, 100px);
    height: clamp(50px, 8vw, 100px);
    object-fit: contain;
}


.navbar .nav-link {
    white-space: nowrap;
}

@media(max-width:992px){

    .navbar-brand strong{
        font-size:1rem;
    }


    .navbar-brand small{
        font-size:.7rem;
    }


    .navbar .school-logo{

        width:60px;
        height:60px;

    }

}

