body{

background:#f5f7fb;

}

.card{

border-radius:15px;

}

.card-header{

font-size:20px;

font-weight:bold;

}

.progress{

height:28px;

border-radius:30px;

}

.progress-bar{

font-size:14px;

font-weight:bold;

}

.btn{

border-radius:30px;

padding:10px 25px;

}